:host {
  display: flex;
  height: inherit;
  width: inherit;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 300000 !important;
}

.ion-spinner {
  width: 100px;
  height: 100px;
}
