<div class="container">
  <div class="users">
    <ion-list class="users-list" *ngFor="let user of users">
      <ion-item class="users-list-item">
        <ion-label class="label">
          {{ user.username }}
          <ion-icon name="trash-outline" (click)="this.removeUserAccess()"></ion-icon>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div class="container-button">
    <ion-button color="primary" [disabled]="this.email === ''" (click)="this.updateDocument()">Share Document</ion-button>
  </div>
</div>



