.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 12px;
  padding: 16px 24px;
}

.users {
  width: 100%;
  padding: 0 16px;
}

.users-list {
  background: #fff;
}

.users-list-item {
  --background: #fff;
  color: var(--text-font-color);
  font-size: var(--text-font-size);
  font-family: var(--text-font-fontFamily);

  .item-native {
    padding-inline-start: unset !important;
    padding-inline-end: unset !important;
  }
}

.container-button > ion-button {
  font-size: 12px;
}

.label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.label > ion-icon {
  width: 20px;
  height: 20px;
}
