<ion-card class="card" (click)="this.openDocument()">
  <div class="card-row-extension">
    <ion-img src="./../../../../../../assets/icon/{{this.document.extension}}.svg" class="card-icon" alt=""></ion-img>
  </div>
  <div class="card-row" >
    <ion-header class="card-header">
      <ion-title class="card-title">
        {{ this.document.name }}
      </ion-title>
    </ion-header>
    <ion-card-content class="card-content">
      {{ this.document.createdAt | date }}
    </ion-card-content>
  </div>
</ion-card>
