<ion-card class="card">
  <div class="card-row-extension">
    <img src="./../../../../../../assets/icon/{{this.document.extension}}.svg" class="card-icon" alt="">
  </div>
  <div class="card-row">
    <ion-header class="card-header">
      <ion-title class="card-title">
        {{ this.document.name }}
      </ion-title>
    </ion-header>
    <ion-card-content class="card-content">
      {{ this.document.createdAt }}
    </ion-card-content>
  </div>
  <div class="card-row-icon">
    <ion-icon *ngIf="this.document.creator === this.userId" name="share-social-outline" (click)="this.openShareDocumentDialog(this.document.documentId)"></ion-icon>
    <ion-icon *ngIf="this.document.creator === this.userId" name="trash-outline" (click)="this.removeDocument()"></ion-icon>
    <ion-icon *ngIf="this.document.creator !== this.userId" name="trash-outline" (click)="this.removeDocumentUser()"></ion-icon>
  </div>
</ion-card>
