.card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 24px;
  background-color: #fff;
  cursor: pointer;
  padding: 0px 20px;
}

.card-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
}

.card-row-icon {
  padding: 0px 0px 0px 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.card-row-extension {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.card-row-icon > ion-icon {
  width: 20px;
  height: 20px;
}

.card-content {
  font-size: var(--text-font-size);
  font-family: var(--text-font-fontFamily);
}

.card-icon {
  width: 44px;
  height: 44px;
}

.card-title {
  font-size: var(--text-font-size);
  font-family: var(--text-font-fontFamily);
  padding: 14px 0 0 15px;
  font-weight: 600;
}
