:host {
  height: 100vh;
  width: 100vw;
}

.container {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
}

.spinner-shown {
  filter: blur(10px);
  backdrop-filter: blur(10px);
}

.spinner-hiden {
  filter: blur(0);
  backdrop-filter: blur(0);
}
