.toolbar {
  --background: white;
  // --border-color: #5892f7;
  // --border-width: 0.55px 0 0;
  text-align: center;
  padding: 16px 0px;
}

.title {
  font-family: var(--brand-font-fontFamily);
  font-size: var(--brand-font-size);
  color: var(--brand-font-color);
}
