.toolbar {
  --background: white;
  border-bottom: solid 1px lightgray;
  text-align: center;
}

.title {
  font-family: var(--brand-font-fontFamily);
  font-size: var(--brand-font-size);
  color: var(--brand-font-color);
}
