.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
}

.icon {
  height: 20px;
  width: 20px;
}

.message {
  font-family: var(--text-font-fontFamily);
  font-size: var(--text-font-size);
}
