.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 20px;
}

.icon {
  height: 64px;
  width: 64px;
}

.message {
  font-family: var(--label-font-fontFamily);
  font-size: var(--label-font-size);
  color: var(--label-font-color);
}
